
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">

	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ site.data.global.assetDir }}/css/normalize.css">
	<link rel="stylesheet" href="{{ site.data.global.assetDir }}/css/skeleton.css">
	<link rel="stylesheet" href="{{ site.data.global.assetDir }}/css/style.css">

	<link rel="icon" type="image/png" href="{{ site.data.global.assetDir }}/favicon.ico">

	<title>{% if page.title %}{{ page.title }} | {{ site.data.global.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>

	{% for lang in page.language-highlights %}    	
    	<link rel="stylesheet" href="{{ site.data.global.assetDir }}/css/highlight-{{ lang }}.css">
  	{% endfor %}
</head>
<body>

	<nav class="navbar">
		<div class="container">
			<ul class="navbar-list">
				<span id="navbar-list-lg">
					<li class="navbar-item"><a class="navbar-link" href="/">About</a></li>
					<li class="navbar-item"><a class="navbar-link" href="/articles">Articles</a></li>
					<li class="navbar-item"><a class="navbar-link" href="/software">Software</a></li>
				</span>
				<span id="navbar-list-sm">
					<li id="sm-menu-btn" class="navbar-item">
						<span class="navbar-link" style="margin: 0 auto;">
							<span id="menu-icon">
								<span class="fa fa-bars fa-2x"></span>
							</span>
							<div class="menu-dropdown-content">
    							<a href="/">About</a>
    							<a href="/articles">Articles</a>
    							<a href="/software">Software</a>
  							</div>
						</span>
					</li>
				</span>
			</ul>
		</div>
    </nav>

	<div class="container" style="width: 100%; border-bottom: 1px solid #e1e1e1; margin-bottom: 40px;">
		<div class="main">			
			
